a.my-button {
    width: 100%;
    margin: 5px 0px;
    display: block;
}
div.gallery-item {
    margin: 10px 0px;
}

.gallery-image {
    display: block;
    margin: 0px auto;
}

.btn-warning {
    background-color: rgb(231 216 196);
    border-color: rgb(231 216 196);
}

.btn-info {
    background-color: #8edaf1;
    border-color: #8edaf1;
}

.btn-danger {
    background-color: #ef7783;
    border-color: #ef7783;
}